.navBartopSection {
    background: #223a66;
}

.mail {
    font-size: 1.4rem;
    color: #ffffff;
}

.navBartopSection .col p {
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 1px;
}

.navBartopSection .col span {
    font-size: 20.8px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 1px;
}

.navbar a {
    font-family: var(--ffPrimary);
    font-weight: 600;
    padding: 10px 15px;
    color: #d36c2b;
    text-transform: capitalize;
    font-size: 16px;
}

.hero {
    background-image: url(./assets/images/download.avif);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}


.cardSection .container {
    position: relative;
    top: -15rem;
}

.cardSection .card {
    border-radius: 15px;
    height: 30rem;
    width: 30rem;
    padding: 1rem 5rem;
}

.card i {
    font-size: 5rem;
    margin: 1rem;
}

.card p {
    font-size: 1.4rem;
    color: #6F8BA4;
    font-weight: 400;
}

.card h5 {
    font-size: 2.4rem;
    font-family: var(--ffPrimary);
    font-weight: 700;
    color: #223a66;
}

.button {
    background-color: #223a66;
    color: #ffffff;
    font-weight: 600;
    padding: 0.8rem 2rem;
    font-size: 14px;
}

.aboutus .col img {
    height: 35rem;
    width: auto;
    margin: 1rem;
}

.aboutUs h3 {
    font-size: 44px;
    color: #662222;
    font-weight: 700;
    margin-bottom: 2rem;
}

.aboutUs p {
    font-size: 16px;
    color: #6f8ba4;
    font-weight: 400;
    margin-bottom: 4rem;
    line-height: 3rem;
}

.aboutUs button {
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    background: #d36c2b;
    padding: 1rem 2rem;
}

.whatWe h3 {
    font-size: 44px;
    color: #223a66;
    font-weight: 700;
}

.whatWe hr {
    width: 5rem;
    background: #d36c2b;
    height: 3px;
}

.whatWe .card {
    border: 0;
    /* background-color: #ce3030; */
    margin: 2rem;
    box-shadow: #6F8BA4;
    box-shadow: 0 4px 8px 0 rgba(0,0, 0, 0.2);
}

.headingpara {
    font-size: 16px;
    color: #6f8ba4;
    font-weight: 400;
    margin-bottom: 4rem;
    line-height: 3rem;
}


.carousel-item img {
    height: 10rem;
    width: auto;
}

.weOffer {
    background-image: url(./assets/images/weoffer.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.weOffer .row {
    padding: 10rem 10rem;
}

.weOffer hr {
    width: 5rem;
    background: #d36c2b;
    height: 3px;
}

.weOffer .card h2,
p {
    font-family: var(--ffPrimary);
    font-size: 2rem;
    font-weight: 700;
}

.weOffer .card p {
    font-family: var(--ffPrimary);
    font-size: 2rem;
    font-weight: 700;
    color: #662222;
}

.weofferbtn {
    background-color: #d36c2b;
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 1rem 1.5rem;
}


.formsection{
    margin: 2rem 0rem;
}
.formHeading{
    font-family: var(--ffPrimary);
    color: #662222;
    font-size: 4.4rem;
}
.formpara{
    color: #6f8ba4;
    font-weight: 400;
    font-size: 1.6rem;
}
.form-control-lg{
    padding: 1.5rem 1rem;
    font-size: 1.6rem;
}
.frmbtn{
    font-size: 1.6rem;
    font-weight: 600;
    color: #ffffff;
    background-color: #067c7c;
}
.formimagecol{
    position: relative;
}
.formnumber{
    background: #223a66;
    color: #ffffff;
    padding: 2rem 4rem;
    position: absolute;
    bottom: -3rem;
    right: 50%;
}


.cardslider{
    margin: 5rem 0rem;
}
.cardslider h3{
    font-size: 4.4rem;
    color: #223a66;
    font-weight: 700;
}
.cardslider hr{
    width: 5rem;
    background: #d36c2b;
    height: 3px;
}




.footer .col{
    margin: 2rem 0rem;
}
.footer img{
    margin-bottom: 3rem;
}
.footer hr{
    width: 5rem;
    background: #d36c2b;
    height: 3px;
}
.footer h2{
    font-size: 2.3rem;
    color: #223a66;
    font-weight: 700;
}
.footer p{
    font-size: 16px;
    color: #6f8ba4;
    font-weight: 400;
    margin-bottom: 4rem;
    line-height: 3rem;
}
.mediaicon {
    height: 3rem;
    width: 3rem;
    font-size: 1rem;
    /* color: #6f8ba4; */
    background-color: #6f8ba4;
    padding: 3rem;
    cursor: pointer;
}
.cardfooter .mediaicon {
    height: 3rem;
    width: 3rem;
    background-color: #6f8ba4;
    padding: 2.5rem;
    cursor: pointer;
    margin: 1rem;
}
.cardfooter .mediaicon i{
    font-size: 1.6rem;
}
.contacticon{
    font-size: 1.6rem;
    margin-top: 1rem;
}

.footer a{
    font-size: 16px;
    color: #6f8ba4;
    font-weight: 400;
    margin-bottom: 4rem;
    line-height: 3rem;
}
.footer a:hover{
    color: #d36c2b;
    transition: 3sec;
}
.footer span{
    font-size: 2.3rem;
    color: #000000;
    font-weight: 700;
}


.copyright .row{
    padding: 3rem 0rem;
}
.copyright p{
    font-family: var( --ffSecondary);
    font-size: 16px;
    color: #6f8ba4;
    font-weight: 400;
}
.copyright p span{
    font-size: 16px;
    color: #222222;
    font-weight: 600;
}