/* Default code Starts here */

@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-wrap: pretty;
    /* border: 1px solid red; */
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    font-family: "Exo", sans-serif;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    font-optical-sizing: auto;
}

::-webkit-scrollbar {
    width: 1rem;
    background-color: #302002;
}

h1,
h2,
h3,
h4,
h6,
p {
    text-wrap: balance;
}

input,
textarea,
button {
    font-family: inherit;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
}

:root {
    --primaryColor: #BE9C79;
    --secondaryColor: #d5a637;
    --tertiaryColor: #644709;
    --darkColor: #302002;
    --lightColor: #f1ebe3;
    --regularFont: 1.4rem;
    --headingFont: 2rem;
    --ffPrimary: "Exo", serif;
    --ffSecondary: "Roboto", serif;
}

/* project standard classes Starts */

.align {
    max-width: 100%;
    margin: auto;
}

.componentSpacing {
    padding: 3rem 0rem;
}

.grid-1 {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0rem 2rem;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0rem 2rem;
}

.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0rem 2rem;
}

.grid-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    padding: 0rem 2rem;
}

.dflex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dflex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* project standard classes Ends */

/* Default code Ends here */

/* :::PARENT CONTAINER Code Starts here::: */

header {
    width: 100%;
    height: auto;
}

main {
    width: 100%;
    height: auto;
}

footer {
    width: 100%;
    height: auto;
}

/* :::PARENT CONTAINER Code Ends here::: */
/* :::PARENT CONTAINER Code Ends here::: */

/* :::HEADER Code Starts hereE::: */
/* Navbar code */
/* Navbar code */

/* Hero Section code */
/* Hero Section code */
/* :::HEADER Code Ends here::: */


/* :::MAIN Code Starts here::: */
/* Our Menu code */
/* Our Menu code */

/* Facility code */
/* Facility code */

/* Popular code */
/* Popular code */

/* Gallery code */
/* Gallery code */

/* Team code */
/* Team code */
/* :::MAIN Code Ends here::: */


/* :::FOOTER Code Starts here::: */
/* Contact code */
/* Contact code */

/* Contact Icons code */
/* Contact Icons code */
/* :::FOOTER Code Ends here::: */


/* ::::: RESPONSIVE DESIGN DEVICE SIZES ::::: */

/* for Responsive Target the ROW Code (display:grid) */

/* Small devices (landscape phones, upto 576px and below) */
/* @media (width <=576px) */
@media (max-width: 576px) {

    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4 {
        display: grid;
        grid-template-columns: 1fr;
    }
    /* .navBarbottomSection{
        position: relative;
    } */

    .navBarbottomSection i {
        position: relative;
        right: -6rem;
        top: 0.5rem;
    }

    .aboutusheading {
        margin-top: 10rem;
        margin-bottom: 10rem;
    }

    .formheading {
        margin-top: 5rem;
        margin-bottom: 2rem;
    }

    .botverification {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }

    .captchabox {
        display: flex;
        align-items: center;
        justify-content: start;
        padding-left: 2rem;
        width: 100%;
    }

    .captchabox button {
        margin-left: 2rem;
    }

    .footericonparabox p span {
        font-size: 1.7rem;
    }
}